h2{
   font-size: 50px;
    text-align: center;
    text-shadow: -2px 0 yellow,0 2px mediumvioletred,2px 0 green,0 -2px red;
}
h2:hover{
    color: blue;
    transition: 3s;
}
.Atiq{
    width: 400px;
    text-align: center;
    margin: auto;
    border: 2px solid slateblue;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2),4px 8px 10px rgba(0,0,0,0.2);
}
.Atiq img{
    width: 100%;
}
.content{
    padding: 10px;
}
.Atiq h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0px;

}
.Atiq:hover{
    color:magenta;
    box-shadow: 15px 15px 15px black,-15px 15px 15px rgba(0,0,0,0.2);
    transition: 1s;
}



